# Import

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.chdir('/content/drive/MyDrive/thesis-folder')

In [ ]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy as sc
import datetime
import calendar

# Read files

In [ ]:
os.getcwd()

In [ ]:
os.chdir("./Bureau of transportation")

In [ ]:
#Reading 15 files from BTS folder to create master dataframe
 
sf_1 = pd.read_csv('2005.csv')
sf_2 = pd.read_csv('2006.csv')
sf_3 = pd.read_csv('2007.csv')
sf_4 = pd.read_csv('2008.csv')
sf_5 = pd.read_csv('2009.csv')
sf_6 = pd.read_csv('2010.csv')
sf_7 = pd.read_csv('2011.csv')
sf_8 = pd.read_csv('2012.csv')
sf_9 = pd.read_csv('2013.csv')
sf_10 = pd.read_csv('2014.csv')
sf_11 = pd.read_csv('2015.csv')
sf_12 = pd.read_csv('2016.csv')
sf_13 = pd.read_csv('2017.csv')
sf_14 = pd.read_csv('2018.csv')
sf_15 = pd.read_csv('2019.csv')

In [ ]:
final_sf_df = sf_1.append([sf_2,sf_3,sf_4,sf_5,sf_6,sf_7,sf_8,sf_9,sf_10,sf_11,sf_12,sf_13,sf_14,sf_15])

In [ ]:
final_sf_df.shape

In [ ]:
final_sf_df.head()

In [ ]:
final_sf_df = final_sf_df.drop(columns='Unnamed: 0')

In [ ]:
final_sf_df.to_csv('master_file.csv')

In [ ]:
os.chdir(../nodes)

In [ ]:
domestic_df = pd.read_csv('Bureau of transportation/master_file.csv')

In [ ]:
domestic_df.shape

(3861502, 8)

In [ ]:
domestic_df.head()

   Unnamed: 0  PASSENGERS          UNIQUE_CARRIER_NAME  ...  YEAR MONTH month_name
0           0         0.0  Federal Express Corporation  ...  2005     3      March
1           1         0.0  Federal Express Corporation  ...  2005     3      March
2           2         0.0        United Parcel Service  ...  2005     4      April
3           3         0.0          Ameristar Air Cargo  ...  2005     3      March
4           4         0.0                Pace Airlines  ...  2005     3      March

[5 rows x 12 columns]

In [ ]:
domestic_df = domestic_df.drop(columns='Unnamed: 0')

In [ ]:
domestic_df.head()

   PASSENGERS          UNIQUE_CARRIER_NAME ORIGIN  ...  YEAR MONTH month_name
0         0.0  Federal Express Corporation    SAV  ...  2005     3      March
1         0.0  Federal Express Corporation    SLC  ...  2005     3      March
2         0.0        United Parcel Service    SJC  ...  2005     4      April
3         0.0          Ameristar Air Cargo    BFI  ...  2005     3      March
4         0.0                Pace Airlines    HDN  ...  2005     3      March

[5 rows x 11 columns]

# Data preprocessing



1.   Drop unwanted columns
2.   Compute month column
2.   Rename columns
4.   Convert to Lowercase values
5.   Reorder the columns
6.   Split cities to remove state details

Dropping unwanted columns

In [ ]:
domestic_df  = domestic_df .drop(['UNIQUE_CARRIER_NAME','ORIGIN','DEST'], axis = 1)

Compute month columns

In [ ]:
domestic_df['MONTH'] = domestic_df['MONTH'].apply(str)

In [ ]:
month_dict = {'1':'January',
              '2':'February',
              '3':'March',
              '4':'April',
              '5':'May',
              '6':'June',
              '7':'July',
              '8':'August',
              '9':'September',
              '10':'October',
              '11':'November',
              '12':'December'
            }
domestic_df['month_name'] = domestic_df.MONTH.map(month_dict)

Rename columns

In [ ]:
rename_dict = {'passengers count	':'passengers count','ORIGIN_CITY_NAME':'origin_city','ORIGIN_STATE_NM':'origin_state','DEST_CITY_NAME':'dest_city','DEST_STATE_NM':'dest_state','YEAR':'year','MONTH':'month_num','month_name':'month'}
domestic_df.rename(columns= rename_dict, inplace=True)

Convert to lowercase values

In [ ]:
domestic_df['origin_city'] = domestic_df['origin_city'].str.lower()
domestic_df['origin_state'] = domestic_df['origin_state'].str.lower()
domestic_df['dest_city'] = domestic_df['dest_city'].str.lower()
domestic_df['dest_state'] = domestic_df['dest_state'].str.lower()
domestic_df['month'] = domestic_df['month'].str.lower()

Reorder columns

In [ ]:
domestic_df = domestic_df[['year','month_num','month','origin_city','origin_state','dest_city','dest_state','passengers count']]

Splitting the cities columns based on ',' to remove state information

In [ ]:
domestic_df['origin_city'] = domestic_df['origin_city'].str.split("," , expand = True)

In [ ]:
domestic_df['dest_city'] = domestic_df['dest_city'].str.split("," , expand = True)

In [ ]:
domestic_df.shape

(3861502, 8)

In [ ]:
domestic_df.to_csv('intermittent-result/Domestic US/domestic_preprocessed_main.csv')

In [ ]:
domestic_df = pd.read_csv('intermittent-result/Domestic US/master_dom_preprocessed.csv',index_col= 0)

/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

# Latitude Longitude Mapping

In [ ]:
domestic_df.shape

(3861502, 8)

In [ ]:
domestic_df.head()

   year  month_num  month  ...    dest_city dest_state passengers count
0  2005          3  march  ...        miami    florida              0.0
1  2005          3  march  ...        boise      idaho              0.0
2  2005          4  april  ...     rockford   illinois              0.0
3  2005          3  march  ...      phoenix    arizona              0.0
4  2005          3  march  ...  new orleans  louisiana              0.0

[5 rows x 8 columns]

In [ ]:
#read US latitude and longitude from preprocessed file generated for International US Travel
us_cities_df = pd.read_csv('dataset/us_lat_long.csv')
us_cities_df

         us_city     us_lat     us_long
0        orlando  28.542111  -81.379030
1        detroit  42.331551  -83.046640
2    minneapolis  44.977300  -93.265469
3           guam  13.450126  144.757551
4       san juan  18.465299  -66.116666
..           ...        ...         ...
662    limestone  31.526185  -96.580617
663      kapolei  21.334008 -158.077849
664      chatham  39.676163  -89.704544
665  king salmon  58.755161 -156.519247
666        selma  32.407863  -87.020747

[667 rows x 3 columns]

Merge for origin city

In [ ]:
geo_df = pd.merge(domestic_df, us_cities_df, how='left',left_on='origin_city', right_on='us_city')

In [ ]:
geo_df.drop(columns = 'us_city', inplace = True)

In [ ]:
geo_df.rename(columns = {'us_lat' : 'origin_city_lat', 'us_long' : 'origin_city_long'}, inplace= True)

In [ ]:
geo_df.shape

(3861502, 10)

Merge for destination city

In [ ]:
geo_df = pd.merge(geo_df, us_cities_df, how='left',left_on='dest_city', right_on='us_city')

In [ ]:
geo_df.drop(columns = 'us_city', inplace = True)

In [ ]:
geo_df.rename(columns = {'us_lat' : 'dest_city_lat', 'us_long' : 'dest_city_long'}, inplace= True)

In [ ]:
geo_df

         year  month_num  ... dest_city_lat dest_city_long
0        2005          3  ...     25.774173     -80.193620
1        2005          3  ...     43.616616    -116.200886
2        2005          4  ...     42.271394     -89.093966
3        2005          3  ...     33.448437    -112.074142
4        2005          3  ...     29.949932     -90.070116
...       ...        ...  ...           ...            ...
3861497  2019          7  ...     47.603832    -122.330062
3861498  2019          6  ...     61.216313    -149.894852
3861499  2019          8  ...     47.603832    -122.330062
3861500  2019          3  ...     33.748992     -84.390264
3861501  2019          7  ...     61.216313    -149.894852

[3861502 rows x 12 columns]

Storing the dataframe with latitude longitude values as csv for visualisation in future

In [ ]:
geo_df.to_csv('intermittent-result/dom_us_lat_long.csv')

# Seasonwise dataframes

In [ ]:
domestic_df.head()

        year  month_num  ...    dest_state passengers count
15572   2005          1  ...  south dakota              0.0
99360   2005          1  ...  south dakota             17.0
204415  2005          1  ...     minnesota           2374.0
30436   2005          1  ...         texas              0.0
75517   2005          1  ...         texas              3.0

[5 rows x 8 columns]

Grouping based on months and summing the passenger counts

In [ ]:
agg_dict = {'month_num':'first', 'passengers count':'sum'}
domestic_grouped_df = domestic_df.groupby(['year','month','origin_city','dest_city'], as_index=False).agg(agg_dict)

In [ ]:
domestic_grouped_df.head()

         year      month  ... month_num passengers count
0        2005      april  ...         4              0.0
1        2005      april  ...         4           2030.0
2        2005      april  ...         4             15.0
3        2005      april  ...         4              0.0
4        2005      april  ...         4              2.0
...       ...        ...  ...       ...              ...
1977790  2019  september  ...         9            161.0
1977791  2019  september  ...         9              0.0
1977792  2019  september  ...         9           1437.0
1977793  2019  september  ...         9           5530.0
1977794  2019  september  ...         9              0.0

[1977795 rows x 6 columns]

All seasons dataframe

In [ ]:
#spring
domestic_spring_df = domestic_grouped_df[domestic_grouped_df.month.isin(['march', 'april', 'may'])]

#summer
domestic_summer_df = domestic_grouped_df[domestic_grouped_df.month.isin(['june', 'july', 'august'])]

#autumn
domestic_autumn_df = domestic_grouped_df[domestic_grouped_df.month.isin(['september', 'october', 'november'])]

#winter
domestic_winter_df = domestic_grouped_df[domestic_grouped_df.month.isin(['december', 'january', 'february'])]

In [ ]:
print('spring df size',domestic_spring_df.shape)
print('summer df size',domestic_summer_df.shape)
print('autumn df size',domestic_autumn_df.shape)
print('winter df size',domestic_winter_df.shape)

spring df size (488798, 6)
summer df size (501723, 6)
autumn df size (494530, 6)
winter df size (492744, 6)

Creating csv files for 4 seasons

In [ ]:
domestic_spring_df.to_csv('intermittent-result/Domestic US/dom_spring.csv')
domestic_summer_df.to_csv('intermittent-result/Domestic US/dom_summer.csv')
domestic_autumn_df.to_csv('intermittent-result/Domestic US/dom_autumn.csv')
domestic_winter_df.to_csv('intermittent-result/Domestic US/dom_winter.csv')